---
// import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alvaro Aburto">
  <div class="cursor"></div>
  <Header />
</Layout>
