---

---

<section class="section1">
  <div class="one container">
    <div class="header">
      <h2>Alvaro Aburto</h2>
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="text-content">
      <div class="head">
        <h1>Digital products</h1>
        <h1>creatives & immersives<span>*</span></h1>

        <p>
          We think and design unique experiences<br />
          for tomorrow's innovatives products.
        </p>
      </div>
    </div>
  </div>

  <video src="./videos/section1 bg.mp4" muted autoplay loop></video>
</section>


<script>
    
</script>