---

---

<section class="section4">
  <div class="four">
    <div class="services">
      <h5>Services</h5>
    </div>

    <div class="moving-text">
      <div class="text">
        <div class="first">
          <h1>Mind the business, we build the products</h1>
          <video src="./videos/section4.webm" muted autoplay loop></video>
        </div>

        <div class="first">
          <h1>Mind the business, we build the products</h1>
          <video src="./videos/section4.webm" muted autoplay loop></video>
        </div>

        <div class="first">
          <h1>Mind the business, we build the products</h1>
          <video src="./videos/section4.webm" muted autoplay loop></video>
        </div>

        <div class="first">
          <h1>Mind the business, we build the products</h1>
          <video src="./videos/section4.webm" muted autoplay loop></video>
        </div>
      </div>
    </div>

    <!-- =========projects====== -->

    <div class="projects">
      <div class="bg">
        <video src="./videos/project 1.webm" autoplay muted loop class="id-1"
        ></video>
        <video src="./videos/project 2.webm" autoplay muted loop class="id-2"
        ></video>
        <video src="./videos/project 3.webm" autoplay muted loop class="id-3"
        ></video>
      </div>

      <div class="first-project container">
        <div class="first" data-id="1">
          <h1>BattleHeck</h1>

          <div class="about">
            <h4>UI/UX Design</h4>
            <h4>Bradnding</h4>
            <h4>Motion</h4>
          </div>
        </div>

        <div class="first" data-id="2">
          <h1>GreenBet</h1>

          <div class="about">
            <h4>UI/UX Design</h4>
            <h4>Bradnding</h4>
            <h4>Motion</h4>
          </div>
        </div>
        <div class="first" data-id="3">
          <h1>AirBus Gaming</h1>

          <div class="about">
            <h4>UI/UX Design</h4>
            <h4>Bradnding</h4>
            <h4>Motion</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
